<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/maps"><span class="glyphicon glyphicon-user"></span> Map</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Something idk <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">2 to the 1</a></li>
            <li><a href="#">and the 1 to the 3</a></li>            
            <li class="divider"></li>
            <li><a href="#">I like good trees</a></li>            
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-book"></span> Profile</a>
      </li>
    </ul>
  </div>
</nav>
