<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script type="text/javascript" src="/pixels.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div>
				<p>Generating map</p>
			</div>

			<canvas id="viewport" width="500" height="500"></canvas>
		</div>
		<div class="col-md-3"></div>	
	</div>
	
</body>
</html>
